{% extends "base.html" %}


{% block title %}Contents{% endblock %}


{% block content %}
  <h3>Contents</h3>
  <p>You can find examples and documentation on how to set up <code>django-formfieldset</code> below.</p>
  <ul>
    <li><a href="{% url example "simple" %}">A Simple Example</a></li>
    <li><a href="{% url example "definition" %}">Fieldset Definitions</a></li>
    <li><a href="{% url example "rendering" %}">Fieldset Rendering</a></li>
    <li><a href="{% url example "templates" %}">Customizing Rendering Templates</a></li>
    <li><a href="{% url example "individual" %}">Rendering Individual Fieldsets</a></li>
    <li><a href="{% url example "templatetag" %}">Rendering With Template Tags</a></li>
  </ul>
{% endblock content %}
