{% extends "base.html" %}


{% block content %}
  <h3>Contents</h3>
  <p>You can find examples and documentation on how to set up <code>django-formfieldset</code> below.</p>
  <ul>
    <li><a href="{% url example "simple" %}">A Simple Example</a></li>
    <li><a href="#">Fieldset Definitions</a></li>
    <li><a href="#">Fieldset Rendering</a></li>
    <li><a href="#">Customizing Rendering Templates</a></li>
    <li><a href="#">Rendering Individual Fieldsets</a></li>
  </ul>
{% endblock content %}
