{% extends "base.html" %}
{% load examples_tags %}


{% block title %}Rendering With A Custom Template{% endblock %}


{% block content %}
  <h3>Rendering With A Custom Template</h3>
  <p>You can use <code>renderform</code> template filter on a form or a <code>Fieldset</code> object to render it. By default <code>formfieldset/form.html</code> template will be used. You can also supply another template name as an argument to <code>renderform</code> like this <code>{% templatetag openvariable %} form|renderform:"myapp/custom_form.html" {% templatetag closevariable %}</code>.</p>

  <p><code>Django-formfieldset</code> supplies a simple <code>formfieldset/form.html</code> template. But this filter is most useful when you override this default template or use a custom template as a filter argument.</p>

  {% example "templatetag" %}

{% endblock content %}
