<?xml version="1.0" encoding="UTF-8" ?>{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="{{ LANGUAGE_CODE|slice:":2"|lower }}">
  <head>
    {% block head %}
      <meta http-equiv="content-type" content="text/html ; charset=utf-8" />
      <meta http-equiv="content-language" content="en" />
      <meta name="description" content="Example application for django-formfieldset" />
      <meta name="keywords" content="django formfieldset" />
      <title>Example application for django-formfieldset - {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" type="text/css" />
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
      <script type="text/javascript">var MEDIA_URL = "{{ MEDIA_URL }}";</script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
      {% block extra_head %}{% endblock %}
    {% endblock head %}
  </head>
  <body>{% block body %}
    <div id="page">
      <div id="header">
        <div id="links"><a href="http://github.com/muhuk/django-formfieldset">Official Homepage</a></div>
        <h1>django-formfieldset</h1>
        <h2>Example Application</h2>
      </div>

      <div id="page_main">
        <div id="page_left">
          <div id="content">{% block content %}
          {% endblock content %}</div>
        </div>

        <div id="page_right">
          <div id="sidepanel">{% block sidepanel %}
            <h3>Pages</h3>
            <ul>
              <li><a href="{% url homepage %}">Home</a></li>
            </ul>
            <p>Test</p>
          {% endblock sidepanel %}</div>
        </div>
      </div>

      <div id="footer">django-formfieldset</div>
    </div>
  {% endblock body %}</body>
</html>